rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // By default, deny all reads and writes.
    // The Admin SDK will bypass these rules.
    // Client-side access should be explicitly granted
    // for specific collections as needed.
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow clients to perform the diagnostics test
    // if they are authenticated.
    match /diagnostics/{docId} {
      allow read, write, delete: if request.auth != null;
    }

    // Allow authenticated clients to read the raw data
    // collections for displaying in the dashboard.
    match /rawCampaigns/{campaignId} {
        allow read: if request.auth != null;
    }
     match /rawStats/{statId} {
        allow read: if request.auth != null;
    }
  }
}
